@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color: #000000;
  --color-inverse: #FFFFFF;
  --color-rgb: 0, 0, 0;
  --color-inverse-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #FFFFFF;
    --color-inverse: #000000;
    --color-rgb: 255, 255, 255;
    --color-inverse-rgb: 0, 0, 0;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0);
  }
}
